.Net Backend/bin/
.Net Backend/obj/

Angular Frontend/dist
Angular Frontend/node_modules
Angular Frontend/.vscode
Angular Frontend/.vscode
Angular Frontend/.angular/cache
Angular Frontend/dist

.sass-cache/
.Net Backend.sln
BookshelfApp.sln